RewriteEngine on

RewriteRule ^login$ index.php?m=user&f=showLogin [L,QSA]
RewriteRule ^logout$ index.php?m=user&f=logout [L,QSA]
RewriteRule ^register$ index.php?m=user&f=showRegister [L,QSA]
RewriteRule ^main$ index.php?m=main&f=showMainPage [L]
RewriteRule ^joinEvent/([1-9][0-9]*)$ index.php?m=user&f=joinEvent&eventId=$1 [L]
RewriteRule ^unjoinEvent/([1-9][0-9]*)$ index.php?m=user&f=unjoinEvent&eventId=$1 [L]
RewriteRule ^createEvent$ index.php?m=event&f=createNewEvent [L]
RewriteRule ^newEvent$ index.php?m=event&f=showCreateEvent [L,QSA]
RewriteRule ^config$ index.php?m=user&f=showConfig [L]
RewriteRule ^userProfile/([1-9][0-9]*)$ index.php?m=user&f=showUserProfile&userId=$1 [L,QSA]
RewriteRule ^editEvent/([1-9][0-9]*)$ index.php?m=event&f=showEditEvent&eventId=$1 [L]
RewriteRule ^deleteEvent/([1-9][0-9]*)$ index.php?m=event&f=deleteEvent&eventId=$1 [L]