{% extends "baseTemplate.twig" %}

{% block mainContent %}
<div class="config--container">
        <div class="config--bg">
            <div class="config--backbtn">
                <a href="javascript:history.back(-1);"><img src="../views/img/backArrow.png" alt="backArrow"></a>
            </div>
            <div class="config--logout">
                <a href="logout"><div class="config--logout--text">Cerrar sesión</div></a>
            </div>
        </div>
</div>
{% endblock %}

