<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetoPlay - Login</title>
    <link rel="stylesheet" href="views/css/loginStyles.css">
    <link href="favicon.ico" rel="icon" type="image/x-icon">
</head>
    <body>
        <div class="SingIn">
            <div class="Background"></div>
            <div class="SinginCard">
                <div class="BackgroundCard"></div>
                <div class="CardTittle">
                    <img class="Logo" src="views/img/LogoV1.png" />
                    <div class="Meetoplay">MeetoPlay</div>
                </div>
                <form action="index.php" method="POST">

                    <input type="hidden" name="_csrf" value="{{ token }}"/>
                    <input type="hidden" name="m" value="user"/>
                    <input type="hidden" name="f" value="login"/>

                    <div class="LoginForm">
                        <div class="SignInS">Sign In</div>
                        <div class="SigninGoogleBtn">
                            <div class="SinginWGoogleBtn"></div>
                            <img class="GIcon" src="views/img/googleIcon.png" />
                            <div class="SignInWithGoogle">Sign in with Google</div>
                        </div>
                        <div class="Hr">
                            <div class="Or">OR</div>
                            <div class="Hr2"></div>
                            <div class="Hr1"></div>
                        </div>
                        <div class="Email">
                            <div class="CorreoElectronico">Correo Electrónico</div>
                            <input type="email" class="EmailInput" name="email">
                        </div>
                        <div class="Pass">
                            <div class="Contrasenya">Contraseña</div>
                            <input type="password" class="PassInput" name="password">
                        </div>
                        <div class="SigninBtnC">
                            <button class="SigninBtn">Sign In</button>
                        </div>
                        <div class="NoTienesCuenta">¿No tienes cuenta? </div><div class="CrearUnaCuenta"><a href="register">Crear una cuenta</a></div>
                        
                    </div>
                </form>
            </div>
            <div class="RightComposition">
                <img src="https://d2xox1u3t3uhpj.cloudfront.net/rightComposition.png" alt="RightComposition">
            </div>
        </div>
        {% if errCode != null %}
        <div class="errCard">
            <div class="errCard--img"><img src="views/img/errImg.png" alt=""></div>
            <div class="errCard--error">Error</div>
            {% if errCode == "voidInput" %}
                <div class="errCard--errorMsg">Rellena todos los campos</div>
            {% elseif errCode == "userNotFound" %}
                <div class="errCard--errorMsg">Usuario o contraseña incorrecto</div>
            {% elseif errCode == "token" %}
                <div class="errCard--errorMsg">Error de logeo</div>
            {% endif %}
            <div class="errCard--tryAgainBtn"><a href="login">Volver a intentar</a></div>
        </div>
        {% endif %}
    </body>
</html>