<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetoPlay - Register</title>
    <link rel="stylesheet" href="views/css/registerStyles.css">
    <link href="favicon.ico" rel="icon" type="image/x-icon">
</head>
    <body>
        <div class="SignUp">
            <div class="Background"></div>
            <div class="SignUpCard">
                <div class="BackgroundCard"></div>
                <div class="CardTittle">
                    <img class="Logo" src="views/img/LogoV1.png" />
                    <div class="Meetoplay">MeetoPlay</div>
                </div>
                <form action="index.php" method="POST">

                    <input type="hidden" name="_csrf" value="{{ token }}"/>
                    <input type="hidden" name="m" value="user"/>
                    <input type="hidden" name="f" value="register"/>

                    <div class="RegisterForm">
                        <div class="SignInS">Sign Up</div>
                        <div class="SigninGoogleBtn">
                            <div class="SignUpWGoogleBtn"></div>
                            <img class="GIcon" src="views/img/googleIcon.png" />
                            <div class="SignInWithGoogle">Sign up with Google</div>
                        </div>
                        <div class="Hr">
                            <div class="Or">OR</div>
                            <div class="Hr2"></div>
                            <div class="Hr1"></div>
                        </div>
                        <div class="Email">
                            <div class="CorreoElectronico">Correo Electrónico</div>
                            <input type="email" class="EmailInput" name="email" value="nuevo@registro.com">
                        </div>
                        <div class="userName">
                            <div class="NombreUsuario">Nombre de usuario: </div>
                            <input type="text" class="UserNameInput" name="userName" value="nuevoRegistro">
                        </div>
                        <div class="Pass">
                            <div class="Contrasenya">Contraseña</div>
                            <input type="password" class="PassInput" name="password" value="1234">
                        </div>
                        <div class="bornDate">
                            <div class="FechaNacimiento">Fecha de nacimiento: </div>
                            <input type="date" class="BornDateInput" name="bornDate">
                        </div>
                        <div class="SigninBtnC">
                            <button class="SigninBtn">Sign Up</button>
                        </div>
                        <div class="NoTienesCuenta">¿Ya tienes cuenta?</div><div class="CrearUnaCuenta"><a href="login">Iniciar sesion</a></div>
                    </div>
                </form>
            </div>
            <div class="RightComposition">
                <img src="https://d2xox1u3t3uhpj.cloudfront.net/rightComposition.png" alt="RightComposition">
            </div>
        </div>
        <div>Error:  {{ errCode }}</div>
        {% if errCode != null %}
        Entra
        <div class="errCard">
            <div class="errCard--img"><img src="views/img/errImg.png" alt=""></div>
            <div class="errCard--error">Error</div>
            {% if errCode == "voidInput" %}
                <div class="errCard--errorMsg">Rellena todos los campos</div>
            {% elseif errCode == "registeredEmail" %}
                <div class="errCard--errorMsg">El email ya está registrado</div>
            {% elseif errCode == "registeredUserName" %}
                <div class="errCard--errorMsg">El nombre de usuario ya está registrado</div>
            {% elseif errCode == "token" %}
                <div class="errCard--errorMsg">Error de registro</div>
            {% endif %}
            <div class="errCard--tryAgainBtn"><a href="register">Volver a intentar</a></div>
        </div>
        {% endif %}
    </body>
</html>