@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    /* overflow: hidden; */
}

.Background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9E6FF;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gradientBg {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 1850px;
    height: 920px;
    background: linear-gradient(180deg, #B46DFF 0%, #58FFFF 100%);
    border-radius: 15px;
}

.MeetoPlay {
    position: absolute;
    top: 0px;
    left: 30px;
    color: #E9E6FF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.chatCard--Bg {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 270px;
    height: 870px;
    background: #E9E6FF;
    border-radius: 15px;
}

.pinnedChats--Bg {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 240px;
    height: 175px;
    padding: 15px 0 15px 0;
    background: linear-gradient(180deg, #B46DFF 0%, #9f8eff 100%);
    border-radius: 15px;
}

.pinnedChats--groupName {
    position: absolute;
    top: 13px;
    left: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.pinnedChats--dropDownBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.pinnedChats--dropDownBtn button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.pinnedChat1Bg {
    position: absolute;
    top: 47px;
    left: 15px;
    width: 210px;
    height: 60px;
    background: #262626;
    border-radius: 15px;
}

.pinnedChat1--profPic {
    position: absolute;
    top: 10px;
    left: 15px;
    border-radius: 50%;
}


.pinnedChat1--profPic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.pinnedChat1--userName {
    position: absolute;
    top: 10px;
    left: 65px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.pinnedChat1--userStatusActive {
    position: absolute;
    top: 35px;
    left: 65px;
    width: 7px;
    height: 7px;
    background: #64da6a;
    border-radius: 50%;
}

.pinnedChat1--userStatusDND {
    position: absolute;
    top: 35px;
    left: 65px;
    width: 7px;
    height: 7px;
    background: #da6464;
    border-radius: 50%;
}

.pinnedChat1--userStatusAFK {
    position: absolute;
    top: 35px;
    left: 65px;
    width: 7px;
    height: 7px;
    background: #dad264;
    border-radius: 50%;
}

.pinnedChat1--chatIcon {
    position: absolute;
    top: 15px;
    left: 160px;
    width: 32px;
    height: 32px;
}

.pinnedChat1--chatIcon img{
    width: 32px;
    height: 32px;
}

.pinnedChat1--userStatusT {
    position: absolute;
    top: 30px;
    left: 75px;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 300;
    line-height: normal;
}

.pinnedChat2Bg {
    position: absolute;
    top: 125px;
    left: 15px;
    width: 210px;
    height: 60px;
    background: #262626;
    border-radius: 15px;
}

.pinnedChat2--profPic {
    position: absolute;
    top: 10px;
    left: 15px;
}

.pinnedChat2--profPic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.pinnedChat2--userName {
    position: absolute;
    top: 10px;
    left: 65px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.pinnedChat2--userStatusActive {
    position: absolute;
    top: 35px;
    left: 65px;
    width: 7px;
    height: 7px;
    background: #64da6a;
    border-radius: 50%;
}

.pinnedChat2--userStatusDND {
    position: absolute;
    top: 35px;
    left: 65px;
    width: 7px;
    height: 7px;
    background: #da6464;
    border-radius: 50%;
}

.pinnedChat2--userStatusAFK {
    position: absolute;
    top: 35px;
    left: 65px;
    width: 7px;
    height: 7px;
    background: #dad264;
    border-radius: 50%;
}

.pinnedChat2--chatIcon {
    position: absolute;
    top: 15px;
    left: 160px;
}

.pinnedChat2--chatIcon img{
    width: 32px;
    height: 32px;
}

.pinnedChat2--userStatusT {
    position: absolute;
    top: 30px;
    left: 75px;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 300;
    line-height: normal;
}

.chats--Bg {
    position: absolute;
    top: 235px;
    left: 15px;
    width: 240px;
    height: 20px;
    padding: 15px 0 15px 0;
    background: linear-gradient(180deg, #9997FF 0%, #969EFF 100%);
    border-radius: 15px;
}

.chats--groupName {
    position: absolute;
    top: 13px;
    left: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.chats--dropDownBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.chats--dropDownBtn button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.eventsChats--Bg {
    position: absolute;
    top: 300px;
    left: 15px;
    width: 240px;
    height: 22px;
    padding: 15px 0 15px 0;
    background: linear-gradient(180deg, #9997FF 0%, #959EFF 100%);
    border-radius: 15px;
}

.eventsChats--groupName {
    position: absolute;
    top: 13px;
    left: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.eventsChats--dropDownBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.eventsChats--dropDownBtn button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.mainCard--Bg {
    position: absolute;
    top: 25px;
    left: 320px;
    width: 1085px;
    height: 870px;
    background: #E9E6FF;
    border-radius: 15px;
}

.mainCard--gradientBg {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 1055px;
    height: 840px;
    background: linear-gradient(180deg, #B46DFF 0%, #58FFFF 100%);
    border-radius: 15px;
}

.activityCard--Bg {
    position: absolute;
    top: 25px;
    left: 1425px;
    width: 400px;
    height: 675px;
    background: #E9E6FF;
    border-radius: 15px;
}

.bfActivityCard--Bg {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 370px;
    height: 320px;
    background: linear-gradient(180deg, #B46DFF 0%, #88B3FF 100%);
    border-radius: 15px;
}

.bfActivityCard--groupName {
    position: absolute;
    top: 13px;
    left: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.bfActivityCard--dropDownBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.bfActivityCard--dropDownBtn button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.friendsActivityCard--Bg {
    position: absolute;
    top: 350px;
    left: 15px;
    width: 370px;
    height: 230px;
    background: linear-gradient(180deg, #84B8FF 0%, #70D9FF 100%);
    border-radius: 15px;
}

.friendsActivityCard--groupName {
    position: absolute;
    top: 13px;
    left: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.friendsActivityCard--dropDownBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.friendsActivityCard--dropDownBtn button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.followedActivityCard--Bg {
    position: absolute;
    top: 595px;
    left: 15px;
    width: 370px;
    height: 50px;
    background: linear-gradient(180deg, #75D2FF 0%, #71D6FF 100%);
    border-radius: 15px;
}

.followedActivityCard--groupName {
    position: absolute;
    top: 13px;
    left: 50px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.followedActivityCard--dropDownBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.followedActivityCard--dropDownBtn button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.profileCard--Bg {
    position: absolute;
    top: 720px;
    left: 1425px;
    width: 400px;
    height: 175px;
    background: #E9E6FF;
    border-radius: 15px;
}

.userdata {
    position: absolute;
    top: 20px;
    left: 15px;
}

.userdata--userProfPic img {
    width: 50px;   
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.userdata--userName {
    position: absolute;
    top: 10px;
    left: 60px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    width: 75px;
    overflow: hidden;
}

.userdata--userStatusActive {
    position: absolute;
    top: 35px;
    left: 60px;
    width: 7px;
    height: 7px;
    background: #64da6a;
    border-radius: 50%;
}

.userdata--userStatusDND {
    position: absolute;
    top: 35px;
    left: 60px;
    width: 7px;
    height: 7px;
    background: #da6464;
    border-radius: 50%;
}

.userdata--userStatusAFK {
    position: absolute;
    top: 35px;
    left: 60px;
    width: 7px;
    height: 7px;
    background: #dad264;
    border-radius: 50%;
}

.userdata--userStatusT {
    position: absolute;
    top: 30px;
    left: 75px;
    color: #262626;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.btn--newEvent {
    position: absolute;
    top: 95px;
    left: 15px;
    width: 55px;
    height: 55px;
    background: linear-gradient(180deg, #61F0FF 0%, #5BF9FF 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.btn--newEvent img {
    width: 35px;
    height: 35px;
}

.btn--config {
    position: absolute;
    top: 95px;
    left: 85px;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #61F0FF 0%, #5BF9FF 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.btn--config img {
    width: 30px;
    height: 30px;
}


.playingIn {
    position: absolute;
    top: 15px;
    left: 160px;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.playingdata {
    position: absolute;
    top: 40px;
    left: 155px;
    width: 230px;
    height: 120px;
    background-color: #262626;
    border-radius: 15px;
}

.playingdata--gameLogo {
    position: absolute;
    top: 10px;
    left: 15px;
}

.playingdata--gameLogo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.playingdata--gameName {
    position: absolute;
    top: 15px;
    left: 70px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}

.playingdata--gameMode {
    position: absolute;
    top: 35px;
    left: 70px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

.playingdata--gameTime {
    position: absolute;
    top: 70px;
    left: 15px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;

}

.playingdata--gameRank {
    position: absolute;
    top: 90px;
    left: 15px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;

}

.playingdata--gameLvl {
    position: absolute;
    top: 90px;
    left: 160px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

.dropDownArrow {
    width: 16px;
    height: 16px;
}