    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kanit', sans-serif;
        /*overflow: hidden;*/
    }

    .Background {
        background: #E9E6FF;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .gradientBg {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 1870px;
        height: 920px;
        background: linear-gradient(180deg, #B46DFF 0%, #58FFFF 100%);
        border-radius: 15px;
    }

    .chatCard {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 270px;
        height: 870px;
        background: #E9E6FF;
        border-radius: 15px;
    }

    .pinnedChats--Bg {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 240px;
        height: 175px;
        padding: 15px 0 15px 0;
        background: linear-gradient(180deg, #B46DFF 0%, #9f8eff 100%);
        border-radius: 15px;
    }

    .pinnedChats--groupName {
        position: absolute;
        top: 17px;
        left: 50px;
        color: #181818;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
    }

    .pinnedChats--dropDownBtn {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
    }

    .pinnedChats--dropDownBtn button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .pinnedChat1Bg {
        position: absolute;
        top: 47px;
        left: 15px;
        width: 210px;
        height: 60px;
        background: #262626;
        border-radius: 15px;
    }

    .pinnedChat1--profPic {
        position: absolute;
        top: 12.5px;
        left: 20px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .pinnedChat1--userName {
        position: absolute;
        top: 15px;
        left: 65px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;    
    }

    .pinnedChat1--userStatusActive {
        position: absolute;
        top: 37px;
        left: 65px;
        width: 7px;
        height: 7px;
        background: #64da6a;
        border-radius: 50%;
    }

    .pinnedChat1--userStatusDND {
        position: absolute;
        top: 37px;
        left: 65px;
        width: 7px;
        height: 7px;
        background: #da6464;
        border-radius: 50%;
    }

    .pinnedChat1--userStatusAFK {
        position: absolute;
        top: 37px;
        left: 65px;
        width: 7px;
        height: 7px;
        background: #dad264;
        border-radius: 50%;
    }

    .pinnedChat1--chatIcon {
        position: absolute;
        top: 12.5px;
        left: 160px;
        width: 32px;
        height: 32px;
    }

    .pinnedChat1--userStatusT {
        position: absolute;
        top: 35px;
        left: 75px;
        color: #FFFFFF;
        font-size: 11px;
        font-weight: 500;
        line-height: normal;
    }

    .pinnedChat2Bg {
        position: absolute;
        top: 125px;
        left: 15px;
        width: 210px;
        height: 60px;
        background: #262626;
        border-radius: 15px;
    }

    .pinnedChat2--profPic {
        position: absolute;
        top: 12.5px;
        left: 20px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .pinnedChat2--userName {
        position: absolute;
        top: 15px;
        left: 65px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;    
    }

    .pinnedChat2--userStatusActive {
        position: absolute;
        top: 37px;
        left: 65px;
        width: 7px;
        height: 7px;
        background: #64da6a;
        border-radius: 50%;
    }

    .pinnedChat2--userStatusDND {
        position: absolute;
        top: 37px;
        left: 65px;
        width: 7px;
        height: 7px;
        background: #da6464;
        border-radius: 50%;
    }

    .pinnedChat2--userStatusAFK {
        position: absolute;
        top: 37px;
        left: 65px;
        width: 7px;
        height: 7px;
        background: #dad264;
        border-radius: 50%;
    }

    .pinnedChat2--chatIcon {
        position: absolute;
        top: 12.5px;
        left: 160px;
        width: 32px;
        height: 32px;
    }

    .pinnedChat2--userStatusT {
        position: absolute;
        top: 35px;
        left: 75px;
        color: #FFFFFF;
        font-size: 11px;
        font-weight: 500;
        line-height: normal;
    }

    .chats--Bg {
        position: absolute;
        top: 237px;
        left: 15px;
        width: 240px;
        height: 22px;
        padding: 15px 0 15px 0;
        background: linear-gradient(180deg, #B46DFF 0%, #9f8eff 100%);
        border-radius: 15px;
    }

    .chats--groupName {
        position: absolute;
        top: 17px;
        left: 50px;
        color: #181818;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
    }

    .chats--dropDownBtn {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
    }

    .chats--dropDownBtn button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
